<!DOCTYPE html>
<html>
  <head>
    <title>Today's events at Omni Commons</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/grapnel.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </head>
  <script id="events-template" type="text/templatedata">
    <% if(events && (events.length > 0)) { %>
      <% _.each(events, function(event) { %>
        <div class="event">
          <ul>
            <li class="title"><%= event.title %></li>
            <li><%= event.day %> at <%= moment(event.start).format("h:mm a") %></li>
            <li>Location: <%= event.location %></li>
            <li class="description"><%= event.short_description %></li>
          </ul>
        </div>
      <% }); %>
    <% } %>
  </script>
  <body>
    <div id="container">
      <p style="font-weight:bold">Loading...</p>
      <p>If this text does not go away then your browser does not support javascript.</p>
    </div>
  </body>
</html>
